.stApp {
    /*background: linear-gradient(to right, #0c0300, #cb5b05); */
    background-image: url('https://i.postimg.cc/76jSFgDM/Blue-Minimal-Motivational-Quote-Search-Bar-Instagram-Post.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
