.stApp {
    background: linear-gradient(to right, #0c0300, #cb5b05); 
    /*background-image: url('https://i.postimg.cc/zDd8w88N/Green-Gray-Natural-Minimalist-Calendar-April-with-Rain-Desktop-Wallpaper.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:rgb(28, 2, 52);
    
    
}
