.stApp {
    background: linear-gradient(to right, #0c0300, #cb5b05); 
    /*background-image: url('https://i.postimg.cc/dVW4D238/Blue-Minimal-Motivational-Quote-Search-Bar-Instagram-Post-20240824-144435-0000.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:rgb(28, 2, 52);
    
    
}
